/*两侧容器设置*/
#contLeft{left: 1rem;width: 7.5rem;}
#contLeft>div{width: 100%;height: 75%;}
#contRight{right:1.1rem;width: 8.25rem;}
#contRight>div{width: 100%;height: 58.2%;}
/*两侧文本样式*/
#contLeft h2{margin-top: 3.25rem;}
.numBs,.longs{font-size: 0.6rem;color:#3eabab;}
.numBs>span{font-size: 0.75rem;color:#47c4c5;}
.longs{border-top: 1px solid #666;padding-top: .75rem;color:#0ea67d;}
.longs>span{font-size: 1.2rem;color:#1bae61;}
